<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
      }
      .navbar {
        display: flex;
        gap: 1rem;
        background: #333;
        padding: 1rem;
      }
      .navbar a {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <a href="/">🎶 Home</a>
      <a href="#about">About</a>
      <a href="https://github.com/wolfmaaan/best-albums">GitHub</a>
    </nav>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
